.output {
    max-width: 400px;
    min-width: 200px;

    flex-basis: 45%;
    flex-shrink: 1;

    display: flex;
    flex-direction: column;
    gap: 15px;

    &__value {
        font-size: 36px;
    }
}

@media (max-width: 767px) {
    .output {
        max-width: 100%;
        width: 100%;
    }
}