.output {
    max-width: 400px;
    min-width: 200px;

    flex-basis: 45%;
    flex-shrink: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;

    &__value {
        display: flex;
        align-items: center;
        min-height: 40px;
        font-size: clamp(20px, calc(12px + 1vw), 30px);
    }
}

@media (max-width: 767px) {
    .output {
        max-width: 100%;
        width: 100%;
    }
}