.select {
    width: inherit;
    min-height: 40px;
    max-height: 200px;

    font-family: Rubik;
    font-weight: 400;
    font-size: 16px;
}

.currentSelect {
    max-width: 100%;
    min-height: 30px;
    border: 1px solid #ddd;
    border-radius: 4px;

    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    cursor: pointer;
}

.loading {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrowUp {
    transition: transform 200ms linear;
}

.arrowDown {
    transform: rotate(-180deg);
    transition: transform 200ms linear;
}