.textOption {
    margin: 0;
}

.option {
    max-width: 100%;
    min-height: 30px;

    padding: 0 10px;

    display: flex;
    gap: 10px;
    align-items: center;
    cursor: pointer;
}

.option:hover {
    background-color: #ddd;
}