.inputForm {
    width: 300px;

    display: flex;
    flex-direction: column;

    gap: 15px;
}

.input {
    display: block;

    max-width: 100%;
    min-height: 30px;
    padding: 10px;

    border: 2px solid #000;
    border-radius: 5px;

    font-size: 14px;
}

.input:focus {
    outline: 2px solid rgb(44,59,175);
    border: none;
}